.tptn_posts {
  @include clearfix;
  @include outer-container;
  font-family: $sans-serif;
  line-height: 1.4em;
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: 0 40px;
  color: $light-gray;
  background: transparentize($light-gray, 0.75);
  box-shadow: inset 0 0 1px 1px white;

  h3 {
    padding-top: 20px;

    i {
      font-size: 0.8em;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 2.2em;

    li {
      position: relative;
      display: inline-block;
      height: 150px;
      overflow: hidden;
      width: 100%;
      margin: 0;
      padding: 0 6px;

      &:hover {
        a.tptn_link {
          color: $dark-gray;

          @include transition(all 0.1s ease-in-out);
        }
        &:after {
          @include calc(width, "100% - 5px");
          box-shadow: inset 0 0 15px darken($light-gray, 5);
          background: transparentize(white, 0.1);
          color: $fc-green;

          @include transition(all 0.1s ease-in-out);
        }
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: transparentize(white, 0.25);
        pointer-events: none;

        @include transition(all 0.1s ease-in-out);
      }

      a.tptn_link {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: auto;
        
        img {
          @include fill-parent;
        }
      }

      span.tptn_after_thumb {
        position: absolute;
        z-index: 1;
        padding: 10px 10px 10px 50px;
        pointer-events: none;

        a.tptn_link, span.tptn_author, span.tptn_excerpt,  {
          display: block;
          position: relative;
        }

        a.tptn_link {

          span.tptn_title {
            font-size: 1.4em;
          }
        }

        span.tptn_author {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 0.7em;
          color: $medium-gray;
          
          a {
            color: $medium-gray;
          }
        }

        span.tptn_excerpt {
          font-family: $serif;
          font-style: italic;
          display: none;
          color: $dark-gray;
        }
      }

      &:after {
        padding: 10px;
        font-family: $sans-serif;
        font-size: 4em;
        font-weight: 100;
        color: lighten($medium-gray, 15);
      }

      &:nth-child(1):after {
        content: "1"; 
      }

      &:nth-child(2):after {
        content: "2"; 
      }

      &:nth-child(3):after {
        content: "3";
        font-size: 3em; 
      }

      &:nth-child(4):after {
        content: "4"; 
        font-size: 3em;
      }

      &:nth-child(5):after {
        content: "5"; 
        font-size: 3em;
      }

      &:nth-child(1), &:nth-child(2) {
        height: 200px;

        a.tptn_link img {
        }

        span.tptn_after_thumb span.tptn_excerpt {
          display: block;
        }
      }

      @include media($md) {
        width: 33.33%;

        &:nth-child(1), &:nth-child(2) {
          width: 50%;
          height: 200px;
        }
      }
    }
  }
}