/* JetPack / Sharedaddy Social Buttons */
 
div.sharedaddy div.sd-block {
  @include clearfix;
  display: block;
  position: relative;
  float: none;
  margin-top: 25px;

  .sd-title {
    display: none;
    visibility: hidden;
  }

  .sd-content {
    // border-bottom: 1px solid lighten($medium-gray, 35);
    // border-top: 1px solid lighten($medium-gray, 35);
    display: block;

    span.sharing-screen-reader-text {
      display: none;
      visibility: hidden;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;
      min-width: 440px;
      
      li {
        // position: relative;
        display: inline-block;
        font-family: $sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        max-width: 110px;
        min-width: 100px;
        @include transition(all 0.1s $easing-func);
        
        a {
          color: $medium-gray;
          font-size: 10px;
          text-decoration: none;
          padding: 5px 25px;
          border-bottom: none !important;
          @include transition(all 0.1s $easing-func);
          &:hover {
            color: $fc-green;
            @include transition(all 0.1s $easing-func);
          }
        }
        
        a.share-email {
          @include icon(before, "\f003") {
            font-size: 1.2em;
          }
          &:after {
            content: "email";
          }
          &:hover {
            color: #dd4b39;
          }
        }
        a.share-facebook {
          @include icon(before, "\f09a") {
            font-size: 1.2em;
          }
          &:after {
            content: "share";
          }
          &:hover {
            color: #3b5999;
          }
        }
        a.share-twitter {
          @include icon(before, "\f099") {
            font-size: 1.2em;
          }
          &:after {
            content: "tweet";
          }
          &:hover {
            color: #55acee;
          }
        }
        a.share-more {
          @include icon(before, "\f064") {
            font-size: 1.2em;
          }
          &:hover {
            color: $fc-green;
          }
        }
        a.share-google-plus-1 {
          @include icon(before, "\f0d5") {
            font-size: 1.2em;
          }
          &:after {
            content: "google+";
          }
          &:hover {
            color: #dd4b39;
          }
        }
        a.share-reddit {
          @include icon(before, "\f1a1") {
            font-size: 1.2em;
          }
          &:after {
            content: "reddit";
          }
          &:hover {
            color: #ff5700;
          }
        }
        a.share-tumblr {
          @include icon(before, "\f173") {
            font-size: 1.2em;
          }
          &:after {
            content: "tumblr";
          }
          &:hover {
            color: #35465c;
          }
        }
        a.share-pocket {
          @include icon(before, "\f224") {
            display: inline-block;
            font: normal 16px/1 'Noticons', 'Genericons';
            vertical-align: center;
            position: relative;
            top: 5px;
            padding-right: 0.3em;
          }
          &:after {
            content: "pocket";
          }
          &:hover {
            color: #f04259;
          }
        }
        a.share-pinterest {
          @include icon(before, "\f0d2") {
            font-size: 1.4em;
            display: inline-block;
            vertical-align: center;
            position: relative;
            top: 1px;
          }
          &:after {
            content: "pinterest";
          }
          &:hover {
            color: #cc2127;
          }
        }
        a.share-stumbleupon {
          @include icon(before, "\f1a4") {
            font-size: 1.2em;
          }
          &:after {
            content: "stumbleupon";
          }
          &:hover {
            color: #eb4924;
          }
        }
        a.share-linkedin {
          @include icon(before, "\f0e1") {
            font-size: 1.2em;
          }
          &:after {
            content: "linkedin";
          }
          &:hover {
            color: #0976b4;
          }
        }
      }
    }

    li.share-end {
      display: none; 
      visibility: hidden;
    }
    
    .sharing-hidden {
      // @include span-columns(12);
      
      .inner {
        // @include span-columns(12);

        ul {
        // @include span-columns(8 of 12);
        // @include shift(2);

          li {
            // @include span-columns(2);
            // @include omega(4n);
          }
        }
      }
    }
  }
}
 
// div.sharedaddy a.sd-button {
//   border: none !important;
//   box-shadow: none;
// }
 
// .sd-social-icon-text a.sd-button > span, a.sd-button > span {
//   opacity: 1;
//   padding: 4px 10px;
//   padding: .4rem 1rem;
// }
 
// li.share-facebook a.sd-button > span,
// li.share-google-plus-1 a.sd-button > span,
// li.share-tumblr a.sd-button > span,
// li.share-pinterest a.sd-button > span,
// li.share-twitter a.sd-button > span,
// li.share-pocket a.sd-button > span {
//   border: none;
//   color: #fff;
//   font-family: 'verdana', arial;
//   font-size: 6px;
//   font-size: .6rem;
//   font-weight: 300;
//   letter-spacing: 0;
//   text-transform: uppercase;
// }
 
// li.share-facebook a.sd-button > span {
//   background: #4965a0;
// }
 
// li.share-facebook a.sd-button:hover > span {
//   background: #1e73be;
// }
 
// li.share-twitter a.sd-button > span {
//   background: #55ACEE;
// }
 
// li.share-twitter a.sd-button:hover > span {
//   background: #1e73be;
// }
 
// li.share-google-plus-1 a.sd-button > span {
//   background: #dd4b39;
// }
 
// li.share-google-plus-1 a.sd-button:hover > span {
//   background: #1e73be;
// }
 
// li.share-tumblr a.sd-button > span {
//   background: #35465D;
// }
 
// li.share-tumblr a.sd-button:hover > span {
//   background: #1e73be;
// }
 
// li.share-pocket a.sd-button > span {
//   background: #F15367;
// }
 
// li.share-pocket a.sd-button:hover > span {
//   background: #1e73be
// }
 
// li.share-pinterest a.sd-button > span {
//   background: #D5222A;
// }
 
// li.share-pinterest a.sd-button:hover > span {
//   background: #1e73be;
// }
 
// .sd-content .sd-button span.share-count {
//   color: #fff !important;
//   font-size: 100% !important;
// }
 
// .sd-button span.share-count { /* Disable Counters */
//   display: none;
// }
 
// div.sharedaddy h3 {
//   font-size: 20px !important;
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   text-transform: none;
//   letter-spacing: 0;
//   line-height: 1;
//   font-weight: bold;
// }