/* JetPack / Sharedaddy Social Buttons */

div.sharedaddy div.sd-block {
  @include clearfix;
  display: block;
  position: relative;
  float: none;
  margin-top: 25px;

  .sd-title {
    display: none;
    visibility: hidden;
  }

  .sd-content {
    display: block;

    span.sharing-screen-reader-text {
      display: none;
      visibility: hidden;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        // position: relative;
        display: inline-block;
        font-family: $sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        max-width: 110px;
        min-width: 100px;
        @include transition(all 0.1s $easing-func);

        a {
          color: $medium-gray;
          font-size: 10px;
          text-decoration: none;
          padding: 5px 25px;
          border-bottom: none !important;
          @include transition(all 0.1s $easing-func);
          &:hover {
            color: $fc-green;
            @include transition(all 0.1s $easing-func);
          }
        }

        a.share-email {
          @include icon(before, "\f003") {
            font-size: 1.2em;
          }
          &:after {
            content: "email";
          }
          &:hover {
            color: #dd4b39;
          }
        }
        a.share-facebook {
          @include icon(before, "\f09a") {
            font-size: 1.2em;
          }
          &:after {
            content: "share";
          }
          &:hover {
            color: #3b5999;
          }
        }
        a.share-twitter {
          @include icon(before, "\f099") {
            font-size: 1.2em;
          }
          &:after {
            content: "tweet";
          }
          &:hover {
            color: #55acee;
          }
        }
        a.share-more {
          @include icon(before, "\f064") {
            font-size: 1.2em;
          }
          &:hover {
            color: $fc-green;
          }
        }
        a.share-google-plus-1 {
          @include icon(before, "\f0d5") {
            font-size: 1.2em;
          }
          &:after {
            content: "google+";
          }
          &:hover {
            color: #dd4b39;
          }
        }
        a.share-reddit {
          @include icon(before, "\f1a1") {
            font-size: 1.2em;
          }
          &:after {
            content: "reddit";
          }
          &:hover {
            color: #ff5700;
          }
        }
        a.share-tumblr {
          @include icon(before, "\f173") {
            font-size: 1.2em;
          }
          &:after {
            content: "tumblr";
          }
          &:hover {
            color: #35465c;
          }
        }
        a.share-pocket {
          @include icon(before, "\f224") {
            display: inline-block;
            font: normal 16px/1 'Noticons', 'Genericons';
            vertical-align: center;
            position: relative;
            top: 5px;
            padding-right: 0.3em;
          }
          &:after {
            content: "pocket";
          }
          &:hover {
            color: #f04259;
          }
        }
        a.share-pinterest {
          @include icon(before, "\f0d2") {
            font-size: 1.4em;
            display: inline-block;
            vertical-align: center;
            position: relative;
            top: 1px;
          }
          &:after {
            content: "pinterest";
          }
          &:hover {
            color: #cc2127;
          }
        }
        a.share-stumbleupon {
          @include icon(before, "\f1a4") {
            font-size: 1.2em;
          }
          &:after {
            content: "stumbleupon";
          }
          &:hover {
            color: #eb4924;
          }
        }
        a.share-linkedin {
          @include icon(before, "\f0e1") {
            font-size: 1.2em;
          }
          &:after {
            content: "linkedin";
          }
          &:hover {
            color: #0976b4;
          }
        }
      }
    }

    li.share-end {
      display: none;
      visibility: hidden;
    }

    .sharing-hidden {
      // @include span-columns(12);

      .inner {
        // @include span-columns(12);

        ul {
        // @include span-columns(8 of 12);
        // @include shift(2);

          li {
            // @include span-columns(2);
            // @include omega(4n);
          }
        }
      }
    }
  }
}
