/* =Structure/Scaffolding
-------------------------------------------------------------- */
$bg-image: 'images/bg.png';

// default styling
html {
	font-size: 62.5;
}
body {
	@include fontSize(16px);
	// @include background(url($bg-image) top left repeat fixed);
	@include background(url($bg-image) top left repeat);
	font-family: $serif;
	word-break: break-word;
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
#page {
	 @include outer-container;
}
.wrap {}

#main {
	padding: 0 40px;
}

#primary {
	@include clearfix;
	margin: auto;
	width: 100%;

	ul {
		list-style: none;

		li {
			list-style-type: square;
		}
	}

}
#secondary {
	margin: 20px auto;
	width: 100%;
}
